@font-face {
  font-family: qsand;
  src: url(../fonts/qsand-regular.eot), url(../fonts/qsand-regular.woff) format('woff'), url(../fonts/qsand-regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: qsand, sans-serif;
  min-width: 350px;
}
.bold-text {
  font-weight: bold;
}
.navbar-default .navbar-nav > li,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  cursor: pointer;
  color: #3a3a3a;
  font-size: 1.2em;
  font-weight: bold;
}
.navbar-default .navbar-nav > li,
.navbar-default .navbar-brand:hover {
  color: #3a3a3a;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #dd3333;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f8f8f8;
}
.navbar-default .navbar-toggle {
  border-color: #3a3a3a;
  margin-right: 30px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #3a3a3a;
}
.navbar-brand {
  background: #f8f8f8;
  height: 52px;
}
.navbar-brand img {
  width: 130px;
}
.navbar-default .navbar-brand:hover {
  background: #dd3333;
}
.navbar-nav {
  background: #ffffff;
}
.navbar-collapse,
.container-fluid {
  background: #ffffff;
  padding-right: 0;
}
.container-fluid {
  background: #408ABD;
  border: 1px solid #e7e7e7;
}
nav {
  width: 100%;
  margin: 2% auto;
}
.navbar {
  margin-bottom: 4%;
}
.navbar .navbar-default .nav .navbar-nav {
  width: 96%;
}
#nav-list {
  height: 52px;
}
#nav-list > li {
  text-align: center;
  width: 25%;
  border-right: none;
  height: 100%;
  line-height: 3em;
  background: #ffffff;
}
.navbar-toggle .collapsed {
  color: red;
}
#nav-list > li:hover,
#active-nav {
  background: #f8f8f8;
}
.navbar-default {
  border: none;
}
#active-subnav-button {
  background: #C68A0A;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: transparent;
}
#bs-example-navbar-collapse-1 {
  padding-left: 0;
}
div#bs-example-navbar-collapse-1.navbar-collapse.collapse.in {
  height: 208px!important;
}
div#bs-example-navbar-collapse-1.navbar-collapse.collapse.in ul,
div#bs-example-navbar-collapse-1.navbar-collapse.collapsing ul {
  margin: 0;
}
.main-container {
  margin: 3em auto;
  background: #f8f8f8;
}
.main-container #prebanner {
  margin-bottom: 1em;
}
.main-container .prebanner-title {
  font-size: 2em;
  font-weight: bold;
}
.main-container .prebanner-blurb,
.main-container .content {
  font-size: 1.2em;
  text-align: justify;
}
.main-container #about,
.main-container #resources,
.main-container #terms,
.main-container #dance,
.main-container #projects {
  margin: 2em auto;
}
.main-container .home-banner,
.main-container .about-banner,
.main-container .resources-banner,
.main-container .projects-container {
  height: 500px;
}
.main-container .home-banner {
  margin: -15px;
  color: #fff;
  font-size: 1.7em;
  font-weight: bold;
  text-align: center;
}
.main-container .home-banner p {
  text-align: justify;
}
.main-container .home-banner a {
  background: none;
  color: #F0F1F2;
  border: 2px solid #F0F1F2;
  border-radius: 0;
  font-size: 0.9em;
  margin: 1em auto 3em;
}
.main-container .home-banner a:hover {
  background: #F0F1F2;
  color: #000;
  border: none;
}
.main-container .about-banner {
  background: url('../img/resources2.jpg');
  background-size: cover;
  background-position: 100% 68%;
  margin: 1.5em -15px;
}
.main-container .resources-banner {
  background: #000004;
  margin: 1.5em -15px;
}
.main-container .resource-header {
  font-size: 1.4em;
  text-decoration: none;
  margin-bottom: 0;
  margin-top: 3%;
  font-weight: bold;
}
.main-container .resource-item {
  padding-left: 40px;
  margin-bottom: 0;
}
.main-container .resource-item a {
  color: #333;
  text-decoration: none;
}
.main-container .resource-item a:hover {
  text-decoration: underline;
}
.main-container .video-container {
  background: #3a3a3a;
}
.event-container {
  width: 100%;
  height: 500px;
  text-align: center;
}
.footer {
  margin: 0;
  border: 1px solid #e7e7e7;
}
.footer-left,
.footer-right {
  background: #f8f8f8;
  color: #3a3a3a;
  font-size: 0.8em;
  padding-top: 1%;
}
.footer-link,
.footer-link:hover {
  color: #dd3333;
  cursor: pointer;
  text-decoration: none;
}
.footer-link:hover {
  text-decoration: underline;
}
.footer-left {
  text-align: left;
}
.footer-right {
  text-align: right;
}
.terms-content-header {
  font-size: 1.3em;
  margin-top: 3%;
  margin-bottom: 0;
  text-decoration: underline;
  font-weight: bold;
}
.terms-content-header:first-of-type {
  margin-top: 0;
  padding-top: 0;
}
#home-content {
  position: absolute;
  display: inline-block;
  z-index: 1;
  left: 5%;
  top: 5%;
  margin-right: 5%;
}
.opacity-layer {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#homeCarousel .first-slide {
  background: url('../img/home1.jpg');
}
#homeCarousel .second-slide {
  background: url('../img/home2.jpg');
}
#homeCarousel .first-slide,
#homeCarousel .second-slide {
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
#homeCarousel .opacity-layer {
  opacity: 0.6;
}
#resourcesCarousel .first-slide {
  background: url('../img/resources1.jpg');
}
#resourcesCarousel .second-slide {
  background: url('../img/resources2.jpg');
}
#resourcesCarousel .third-slide {
  background: url('../img/resources3.jpg');
}
#resourcesCarousel .fourth-slide {
  background: url('../img/resources4.jpg');
}
#resourcesCarousel .fifth-slide {
  background: url('../img/resources5.jpg');
}
#resourcesCarousel .first-slide,
#resourcesCarousel .second-slide,
#resourcesCarousel .third-slide,
#resourcesCarousel .fourth-slide,
#resourcesCarousel .fifth-slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
#resourcesCarousel .opacity-layer {
  opacity: 0.2;
}
/* ########## PROJECTS ########## */
.btn-lg,
.btn-group-lg > .btn {
  padding: 50px 25px;
}
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}
.projects-header {
  background-color: #b6b6d2;
  margin-right: 0;
  margin-left: 0;
  font-weight: bold;
}
.projects-title {
  text-align: center;
  font-size: 2.0em;
  margin-top: 2%;
  margin-bottom: 0;
  font-weight: bold;
}
.projects-subtitle {
  text-align: center;
  font-size: 1.5em;
  color: #74777C;
  margin-bottom: 3%;
}
.projects-nav-button {
  font-size: 2.0em;
  margin: 3% auto;
  text-align: center;
  cursor: pointer;
}
.projects-nav-button a {
  color: #333333;
}
.projects-nav-button a:hover {
  color: #74777C;
}
.projects-subnav {
  color: #F0F1F2;
  text-align: center;
  margin: 0;
  background: #b6b6d2;
  font-size: 1.2em;
  font-weight: bold;
}
#projects-subnav {
  padding-left: 0;
  padding-right: 0;
}
.projects-subnav-button,
#active-projects-button,
.projects-subnav-button:hover {
  color: #f8f8f8;
  border: 1px solid #f8f8f8;
  padding-top: 1%;
  cursor: pointer;
}
.projects-subnav-button {
  background: #3a3a3a;
}
.projects-subnav-button:hover,
#active-data-vis-button {
  background: #dd3333;
}
.projects-subnav a:hover {
  text-decoration: none;
}
.projects-container {
  background: url('../img/home2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
@media (min-width: 1200px) {
  #nav-list {
    width: 87%;
  }
  .col-lg-five {
    width: 33.33%;
    float: left;
  }
}
/* #################### RESPONSIVENESS #################### */
@media (min-width: 600px) and (max-width: 799px) {
  #home .home-banner {
    font-size: 1.5em;
  }
  #home .home-banner a {
    margin: 2em auto;
  }
}
@media (min-width: 515px) and (max-width: 599px) {
  #home .home-banner {
    font-size: 1.4em;
  }
  #home .home-banner a {
    margin: 1.4em auto;
  }
}
@media (min-width: 456px) and (max-width: 514px) {
  #home .home-banner {
    font-size: 1.3em;
  }
  #home .home-banner a {
    margin: 1.4em auto;
  }
}
@media (min-width: 350px) and (max-width: 455px) {
  #home .home-banner {
    font-size: 1.1em;
  }
  #home .home-banner a {
    margin: 1.4em auto;
  }
}
@media (max-width: 349px) {
  #home .home-banner {
    font-size: 1.1em;
  }
  #home .home-banner a {
    margin: 1.2em auto;
  }
}
/* Resizing font on projects navigation */
@media (min-width: 1451px) and (max-width: 1600px) {
  .projects-subnav {
    font-size: 1.1em;
  }
}
@media (min-width: 1301px) and (max-width: 1450px) {
  .projects-subnav {
    font-size: 1.0em;
  }
}
@media (min-width: 1200px) and (max-width: 1300px) {
  .projects-subnav {
    font-size: 0.85em;
  }
}
/* Desktop - medium screen */
@media (min-width: 1028px) and (max-width: 1199px) {
  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-brand {
    font-size: 1.0em;
  }
  #bs-example-navbar-collapse-1 {
    padding-left: 0;
  }
  .event-container {
    width: 100%;
    height: 500px;
    text-align: center;
  }
  .home-banner,
  .event-container {
    font-size: 1.5em;
    height: 400px;
  }
  .home-banner > a {
    font-size: 0.7em;
  }
  #prebanner,
  #content {
    font-size: 1.0em;
  }
  .footer-left,
  .footer-right {
    font-size: 0.65em;
  }
  .projects-subnav-button {
    padding-top: 1%;
  }
}
/* Tablets - small screen */
@media (min-width: 768px) and (max-width: 1027px) {
  .container {
    width: 100%;
  }
  nav {
    width: 100%;
  }
  .event-container {
    width: 100%;
    height: 500px;
    text-align: center;
  }
  .home-banner,
  .event-container {
    font-size: 1.35em;
    height: 400px;
  }
  .home-banner > a {
    font-size: 0.65em;
  }
  .prebanner,
  .content {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0;
  }
  #prebanner,
  #content {
    padding: 0;
    font-size: 1.0em;
  }
  .projects-subnav-button,
  .projects-subnav-button:hover {
    padding-top: 2%;
  }
  /* Change the navbar breakpoint to collapse on small screens*/
  .container-fluid {
    padding-left: 0;
  }
  .container-fluid > .navbar-header {
    background: #ffffff;
    float: none;
    margin-left: 15px;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    padding-left: 0;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block!important;
    margin: 0;
  }
  .collapsing {
    overflow: hidden!important;
  }
  #nav-list {
    width: 100%;
  }
  .navbar-nav {
    margin: 0;
  }
  #nav-list > li {
    width: 100%;
  }
}
/* Phones - very small screen */
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  nav {
    width: 100%;
  }
  .container-fluid > .navbar-header {
    background: #ffffff;
  }
  .event-container {
    width: 100%;
    height: 500px;
    text-align: center;
  }
  .home-banner,
  .projects-container,
  .event-container {
    font-size: 1.35em;
    height: 400px;
  }
  .home-banner > a {
    font-size: 0.65em;
  }
  .prebanner,
  .content {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0;
  }
  #prebanner,
  #content {
    padding: 0;
  }
  .projects-subnav-button,
  .projects-subnav-button:hover {
    padding-top: 3%;
  }
  .footer-left,
  .footer-right {
    font-size: 0.6em;
    padding-top: 10px;
  }
  #nav-list {
    width: 100%;
  }
  .navbar-nav {
    margin-bottom: 0;
    margin-top: 0;
  }
  #nav-list > li {
    width: 100%;
  }
  .projects-nav-button {
    font-size: 1.5em;
    margin: 5% auto;
  }
}
@media (max-width: 569px) {
  .projects-nav-button {
    margin: 10% auto;
  }
}
@media (max-width: 460px) {
  .projects-title {
    font-size: 1.5em;
  }
  .projects-subtitle {
    font-size: 1.0em;
  }
  .projects-nav-button {
    font-size: 1.5em;
    margin: 10% auto;
    margin-left: -15px;
  }
}
/* Resize navbar based on browser size */
@media (min-width: 1028px) and (max-width: 1199px) {
  #nav-list {
    width: 84.2%;
  }
}

