<!DOCTYPE html>
<html lang="en">

  <head>

    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO: fill this in -->
    <meta name="description" content="datastorm: is a digital data driven dance performance that derives its movements and concepts from computer science theory. The performance will break down certain theories and concepts during the performance through the movement of ballet.">
    <meta name="keywords" content="d3, digital, ballet, DataVis, SVG">
    <meta name="author" content="readysaltedcode cic">


    <title>Home</title>

    <!-- Core Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <!-- arrastre.org CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <!-- Google font - Quicksand -->
    <link href='http://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" onclick="loadPage('home');"><img src="img/logo.png" /></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="nav-list">
              <li onclick="loadPage('about');">ABOUT</li>
              <li onclick="loadPage('dance');">DANCE</li>
              <li onclick="loadPage('datavis');">DATA VIS</li>
              <li onclick="loadPage('resources');">RESOURCES</li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div class="row main-container">
        <div class="col-md-12">
          {{{home}}}
          {{{about}}}
          {{{dance}}}
          {{{datavis}}} <!-- shared datavis header -->
            {{{animation1}}}
            {{{animation2}}}
            {{{animation3}}}
            {{{animation4}}}
            {{{animation5}}}
          {{{datavisnav}}}
            {{{codefragment1}}}
            {{{codefragment2}}}
            {{{codefragment3}}}
            {{{codefragment4}}}
            {{{codefragment5}}}
          {{{datavisend}}} <!-- shared datavis end -->
          {{{resources}}}
          {{{terms}}}
        </div> <!-- /col -->
      </div> <!-- main-container -->

       <div class="row">
        <div class="col-lg-2 col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-lg-8 col-md-10">
          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-8 footer-left">
            <p>&copy; COPYRIGHT 2014 <a href="http://www.readysaltedcode.org/" class="footer-link">READYSALTEDCODE CIC</a></p>
          </div> <!-- /col -->
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 footer-right">
            <p><a onclick="loadPage('terms');" class="footer-link">TERMS &amp; CONDITIONS</a></p>
          </div> <!-- /col -->
        </div> <!-- /col -->
        <div class="col-lg-2 col-md-1 hidden-sm hidden-xs">
        </div> <!-- /col -->
      </div> <!-- /row -->
    </div> <!-- /container -->


    <!-- Scripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>
