<div id= 'about'>
  <div class="row prebanner">
    <div class="col-lg-2 col-md-1">
    </div> <!-- /col -->
    <div class="col-lg-8 col-md-10" id="prebanner">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="prebanner-text">
        <p class="prebanner-title">ABOUT</p>
        <p class="prebanner-blurb">[arra]stre: is a digital data driven dance performance that derives its movements and concepts from computer science theory. The performance will break down certain theories and concepts through the movement of ballet.</p>
      </div> <!-- /col -->
    </div> <!-- /col -->
    <div class="col-lg-2 col-md-1">
    </div> <!-- /col -->
  </div> <!-- /row -->

  <div class="about-banner"></div>

  <div class="row content">
    <div class="col-lg-2 col-md-1">
    </div> <!-- /col -->
    <div class="col-lg-8 col-md-10" id="content">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="content-text">
        <p>[arra]stre will include data visualisation, images influenced and triggered by data from the student dancers, wearable technology and the choreography itself. This work is a collaboration between readysaltedcode CIC, industry experts and Battle Abbey School Students.</p>
        <p>This project has been funded by Arts Council England, Grants for the arts & Google's RISE award for Computer Science Education.</p>
        <p>The project aims to increase understanding and reduce people’s fear of the subject of computer science. Specifically to engage people into using and understanding technology more often. The choreography reinterprets computer science theory from the new Computing Program of Study in England into dance form.  The visualisations have been developed using web technologies such as javascript and D3 library with the use of wearable technology. Data Collection from the dancers will use a variety of devices from the kinect to wearable arduinos.</p>
        <p>The choreography was created by Dr Paul Golz is the creative director of Ephemeris. Paul lectures in both Computer Science and Dance at the University of Worcester. In a previous life Paul was a Physicist at CERN. Paul is joined on this project by Camilla Neale an experienced choreographer and ballet dancer.</p>
        <p>Data visualisation were commissioned for the ballet and created by Peter Cook. Kinect code written by Alex Shaw from Glastonbridge Software. </p>
      </div> <!-- /col -->
    </div> <!-- /col -->
    <div class="col-lg-2 col-md-1">
    </div> <!-- /col -->
  </div> <!-- /row -->
</div> <!-- about -->
