<div id='animation-container-4'>
<div class="row data-vis-header">
  <div class="col-lg-2 col-md-1">
  </div> <!-- /col -->
  <div class="col-lg-8 col-md-10" id="data-vis-nav">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 data-vis-nav-button">
      <a onclick="loadAnimation(3);"><span class="glyphicon glyphicon-chevron-left"></span></a>
    </div> <!-- /col -->
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
      <p class="data-vis-title">BINARY/BOOLEAN</p>
    </div> <!-- /col -->
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 data-vis-nav-button">
      <a onclick="loadAnimation(5);"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div> <!-- /col -->
  </div> <!-- /col -->
  <div class="col-lg-2 col-md-1">
  </div> <!-- /col -->
</div> <!-- /row -->
  <div class="row data-vis-container">
    <div class="col-lg-2 col-md-1">
    </div> <!-- /col -->
      <div class="col-lg-8 col-md-10" id="data-vis-animation">
        <p data-height="616" data-theme-id="8632" data-slug-hash="ALDEp" data-default-tab="result" data-user="readysaltedcode" class='codepen'>See the Pen <a href='http://codepen.io/readysaltedcode/pen/ALDEp/'>ALDEp</a> by Genevieve Smith-Nunes (<a href='http://codepen.io/readysaltedcode'>@readysaltedcode</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
        <script async src="http://codepen.io/assets/embed/ei.js"></script>
      </div> <!-- /col -->
    <div class="col-lg-2 col-md-1">
    </div> <!-- /col -->
  </div> <!-- /data-vis-container -->
</div><!-- /animation-container-1 -->
