<div id='code-container-4' class="row data-vis-code">
  <div class="col-lg-2 col-md-1 hidden-sm hidden-xs">
  </div> <!-- /col -->
  <div class="col-lg-8 col-md-10">
    <div data-height="1850" data-theme-id="8632" data-slug-hash="ALDEp" data-default-tab="js" data-user="readysaltedcode" class='codepen'>
      <pre><code>
        function BooleanVis(canvas) {
        var width = 1000;
        var height = 800;

        // var color = d3.scale.category20();
        var color = d3.scale.linear().domain([-1, 0]).range([&#39;white&#39;, &#39;red&#39;]);
        var scale = d3.scale.linear().domain([-3, 3]).range([0, 255]);
        var startTime = Date.now();

        // Duration 4:06
        var chanceOfBinary = d3.scale.linear().domain([startTime, startTime + 135000, startTime + 222000, startTime + 223000, startTime + 300000]).range([0, 0, 1, 1, 1]).clamp(true);
        var numCirclesScale = d3.scale.linear().domain([startTime, startTime + 135000, startTime + 222000, startTime + 223000, startTime + 300000]).range([0, 0, 5, 0, 0]).clamp(true);
        var textScale = d3.scale.linear().domain([startTime, startTime + 135000, startTime + 235000, startTime + 300000]).range([0, 0, 100, 100]).clamp(true);


        this.color = d3.scale.category20b();
        this.scale = d3.scale.linear().domain([-3, 6]).range([1000, 0]);
        this.indexScale = d3.scale.threshold().domain([0, 54000, 70000, 84000, 120000, 154000, 167000, 200000, 230000]).range([0, 3, 10, 40, 10, 1, 60, 20, 10, 10]);

        var ctx = canvas.getContext(&#39;2d&#39;);

        ctx.fillStyle = &quot;rgb(0,0,0)&quot;;
        ctx.fillRect(0, 0, this.width, this.height);

        // poll()
        this.poll = function() {
          var me = this;
          d3.json(&#39;/playbackServer/api/data.json&#39;, function(err,json){me.draw(err,json);});
        };

        this.draw = function(json) {
          if(json === undefined) return;

          var data = getDataOfSkeleton(json, 0);
          // console.log(data);
          // data = data.slice(0, 8);

          ctx.fillStyle = &quot;rgba(0, 0, 0, 0.1)&quot;;
          ctx.fillRect(0, 0, width, height);

          // ctx.font = &#39;15px sans-serif&#39;;

          var t = Date.now();

          var threshold = numCirclesScale(t);

          _.each(data, function(d, index) {
            // console.log(index);

            if(index &gt; threshold)
              return;

            var drawAsBinary = Math.random() &lt; chanceOfBinary(t);
            if(drawAsBinary) {

              var fontSize = Math.random() * textScale(t) + 8;
              ctx.font = &#39;bold &#39; + fontSize + &#39;px sans-serif&#39;;

              var binary = Math.round(scale(d)).toString(2);
              _.each(binary, function(bit) {
                var x = Math.random() * width;
                var y = Math.random() * height;
                ctx.fillStyle = bit === &#39;1&#39; ? &#39;red&#39; : &#39;white&#39;;

                ctx.fillText(bit, x, y);
              });
            } else {
              var x = Math.random() * width;
              var y = Math.random() * height;
              ctx.fillStyle = color(d);

              drawCircle(ctx, x, y, 4);
            }
          });
        };
      };

      // You can choose one of these to visualise a different dance
      var DATASET_ALGORITHM = &#39;https://s3-eu-west-1.amazonaws.com/arrastre/data/algorithm_&#39;;

      var DATASET_BINARY = &#39;https://s3-eu-west-1.amazonaws.com/arrastre/data/binary_&#39;;

      var DATASET_WHOLEPIECE = &#39;https://s3-eu-west-1.amazonaws.com/arrastre/data/wholepiece_&#39;;

      var dataFetcher = new ChunkedDataFetcher(DATASET_ALGORITHM);
      var boolean = new BooleanVis( document.getElementById(&#39;mycanvas&#39;));
      dataFetcher.drawFunction = function(json) {boolean.draw(json);
      }

    </code></pre>
    </div><script async src="//codepen.io/assets/embed/ei.js"></script>
    <p class="codepen-footer">You can edit this data visualisation and watch the changes in real-time <a href='http://codepen.io/readysaltedcode/pen/ALDEp/'>here</a> on <a href='http://codepen.io'>CodePen</a>.</p>
  </div> <!-- /col -->
  <div class="col-lg-2 col-md-1 hidden-sm hidden-xs">
  </div> <!-- /col -->
</div> <!-- /row -->
