<div id='dance'>
      <div class="row prebanner">
        <div class="col-lg-2 col-md-1">
        </div> <!-- /col -->
        <div class="col-lg-8 col-md-10" id="prebanner">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="prebanner-text">
            <p class="prebanner-title">[arra]stre</p>
            <p class="prebanner-blurb">25th September 2014 - Live performance of [arra]stre</p>
          </div> <!-- /col -->
        </div> <!-- /col -->
        <div class="col-lg-2 col-md-1">
        </div> <!-- /col -->
      </div> <!-- /row -->

      <div class="row video-container">
        <div class="col-md-12">
          <div class="event-container">
            <iframe width="600" height="500" style="width:75%;max-width:890px;height:100%;" src="//www.youtube.com/embed/AejOfy7EhW0?autoplay=1" frameborder="0" allowfullscreen></iframe>
          </div> <!-- /event-container -->
        </div> <!-- /col -->
      </div> <!-- /row -->

      <div class="row content">
        <div class="col-lg-2 col-md-1">
        </div> <!-- /col -->
        <div class="col-lg-8 col-md-10" id="content">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="content-text">
            <p></p>
          </div>
        </div> <!-- /col -->
        <div class="col-lg-2 col-md-1">
        </div> <!-- /col -->
      </div> <!-- /row -->
</div> <!-- /dance -->
