<div class="row data-vis-subnav">
  <div class="col-lg-2 col-md-1 hidden-sm hidden-xs">
  </div> <!-- /col -->
  <div class="col-lg-8 col-md-10" id="data-vis-subnav">

    <a onclick="loadAnimation(1);">
      <div class="col-lg-five data-vis-subnav-button data-vis-subnav-1" id="active-data-vis-button">
        <p>ALGORITHMS</p>
      </div>
    </a>

    <a onclick="loadAnimation(2);">
      <div class="col-lg-five data-vis-subnav-button data-vis-subnav-2">
        <p>DEBUGGING</p>
      </div>
    </a>

    <a onclick="loadAnimation(3);">
      <div class="col-lg-five data-vis-subnav-button data-vis-subnav-3">
        <p>BIG DATA</p>
      </div>
    </a>

    <a onclick="loadAnimation(4);">
      <div class="col-lg-five data-vis-subnav-button data-vis-subnav-4">
        <p>BINARY/BOOLEAN</p>
      </div>
    </a>

    <a onclick="loadAnimation(5);">
      <div class="col-lg-five data-vis-subnav-button data-vis-subnav-5">
        <p>COMPUTATION</p>
      </div>
    </a>

  </div> <!-- /col -->
  <div class="col-lg-2 col-md-1"></div>
</div> <!-- /row -->
