<div id='home'>
  <div class="home-banner">
    <p>[arra]stre: is a digital data driven dance performance that derives its movements and concepts from computer science theory. The performance will break down certain theories and concepts through the movement of ballet.</p>
    <!-- TODO: replace link -->
    <a class="btn btn-default" onclick="loadPage('datavis');">WATCH</a>
  </div> <!-- /home-banner -->
</div> <!-- /home -->
