<div id='resources'>
  <div class="row prebanner">
    <div class="col-lg-2 col-md-1"></div>
    <div class="col-lg-8 col-md-10" id="prebanner">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="prebanner-text">
        <p class="prebanner-title">RESOURCES</p>
        <p class="prebanner-blurb">[arra]stre is an open-source project, and makes use of other open-source projects.  You can fork our code!</p>
      </div> <!-- /col -->
    </div> <!-- /col -->
    <div class="col-lg-2 col-md-1"></div> <!-- /col -->
  </div> <!-- /row -->

  <div class="row">
    <div class="col-md-12">
      <div class='resources-banner'></div>
    </div> <!-- /col -->
  </div> <!-- /row -->

  <div class="row content">
    <div class="col-lg-2 col-md-1"></div>
      <div class="col-lg-8 col-md-10" id="content">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="resource-text">
          <p class="resource-header">Capturing movement</p>
          <p>We use Kinect to capture data and store it as JSON.</p>
          <p class="resource-item"><a href="https://github.com/readysaltedcode/art-of-computer-science">The Art of Computer Science GitHub account</a></p>
          <p class="resource-item"><a href="https://github.com/readysaltedcode/art-of-computer-science/tree/master/KinectJSON">KinectServer</a>, our C# JSON service that creates easy-to-use data streams from a Microsoft Kinect.</p>
          <p class="resource-item"><a href="http://www.microsoft.com/en-us/kinectforwindows/">Official Microsoft Kinect developer resources.</a></p>
          <p class="resource-header">Visualising movement data</p>
          <p>We use HTML 5 and D3 to visualise data.</p>
          <p class="resource-item"><a href="https://github.com/readysaltedcode/art-of-computer-science/visualisation">Our visualisations, as a set of webpages and Javascript libraries.</a></p>
          <p class="resource-item"><a href="http://d3js.org/">D3 Homepage</a></p>
          <p class="resource-header">Dazzling style</p>
          <p>Our dancers are illuminated with intelligent, sensor-equipped headdresses, dresses, and pointe shoes.</p>
          <p class="resource-item"><a href="https://github.com/readysaltedcode/art-of-computer-science/tree/master/wearables/headdress">The source for our wearables</a></p>
          <p class="resource-item"><a href="https://www.adafruit.com/products/1222">Adafruit Gemma</a>, as used in our headdresses and skirts</p>
          <p class="resource-item"><a href="http://www.adafruit.com/products/1247">Adafruit Flora</a>, as used in our skirts and pointe shoes</p>
          <p class="resource-item"><a href="https://learn.adafruit.com/sparkle-skirt/overview">Adafruit Sparkle Skirt</a>, the starting point for our smart dress design</p>
        </div> <!-- /col -->
      </div> <!-- /col -->
      <div class="col-lg-2 col-md-1"></div>
    </div> <!-- /row -->
</div><!-- /resources -->
